<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Purchase</title>
</head>
<body>
    <h1>Purchase Your BCE Code</h1>
    <form action="/register_page" method="get">
        <input type="hidden" name="unique_code" value="<%= unique_code %>">
        <button type="submit">Purchase unique code</button>
    </form>
</body>
</html>
